body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
}

#canvas {
    margin-top: 10px;
    border: 2px solid #333;
}

.temperatureButton {
    margin-top: 10px;
}

.materialButtonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

#materialList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#instructionText {
    font-family: Arial;
    font-size: 14px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 60%;
    font-size: 14px;
    position: center;
    bottom: 50px;
    right: 0;
    margin-right: 0px;
}

th,
td {
    border: 1.5px solid #bbb;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f7f7f7;
}

/* Estilos para o contêiner do GIF */
#gifContainer {
    position: relative;
}

/* Estilos para o GIF */
#gifImage {
    position: fixed;
    bottom: 10px;
    right: 100px;
    z-index: 999;
    width: 100px;
    /* Defina o tamanho do GIF conforme necessário */
}

a:visited {
    color: #333;
}

footer {
    padding: 32px;
}