body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

#canvas {
    margin-top: 10px;
    border: 2px solid #333;
}

.temperatureButton {
    margin-top: 10px;
  }

.materialButtonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.materialButtonGroup button {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

#materialList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#instructionText {
    font-size: 14px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 700px;
    font-size: 14px;
    margin-right: 0px;
}

th,
td {
    border: 1.5px solid #bbb;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f7f7f7;
}

a:visited {
    color: #333;
}

footer {
    padding-left: 32px;
    padding-right: 32px;
}


/* Slider */
.simulation-container {
    margin-top: 0px;
    /* Ajuste para posicionar o slider a 100 pixels da borda superior */
    position: relative;
}

.slider {
    width: 150px;
    margin-top: 45px;
    /* Ajuste para posicionar o slider a 100 pixels da borda superior */
    position: absolute;
    top: 0;
    right: 50px;
    /* Posiciona o slider no canto superior direito */
}

.exchange-rate-label {
    position: absolute;
    top: 22px;
    /* Ajuste para posicionar o texto abaixo do slider */
    right: 50px;
    /* Alinha com o canto superior direito */
    text-align: right;
    font-size: 13px;
    font-weight: bold;
}

.slider-label-fast {
    position: absolute;
    top: 65px;
    right: 15px;
    font-size: 13px;
    /* Ajuste para posicionar o texto "Rápido" ao lado direito do slider */
}

.slider-label-slow {
    position: absolute;
    top: 65px;
    right: 195px;
    font-size: 13px;
    

    /* Ajuste para posicionar o texto "Devagar" ao lado esquerdo do slider */
}

.blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid black;
    line-height: 50px;
    font-size: 24px;
}

.clearfix {
    clear: both;
}

/* Styled button */
.btn-hot{

font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
color: #fff;
background: linear-gradient(70deg, #e76f51 0%, #d62828 100%);
padding: 6px 15px;
border: none;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 15px;
transition : 1000ms;
flex-direction:row-reverse;
cursor: pointer;
align-items: last baseline;
}


.btn-cold{

font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
color: #fff;
background: linear-gradient(142deg, #0077b6 0%, #00b4d8 100%);
padding: 6px 15px;
border: none;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 15px;
transition : 1000ms;
flex-direction:row-reverse;
cursor: pointer;

}

